/* header */

#HeaderText{
  display: inline;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

#Header {
  background-color: rgba(255, 255, 255, 1);
  height: min(10vh, 100px);
  position: relative;
}

.HeaderButton {
  position: absolute;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(100, 81, 81, 0.25);
  border-radius: 31px;
  height: 90%;
}

#SignUpButton {
  right: max(9vw, 110px);
}

#LoginButton {
  right: max(1vw, 10px);
}

#LogoutButton {
  right: max(1vw, 10px);
}


#Header img{
  max-width: 100%;
  max-height: 100%;
  margin-left: max(2vw, 30px);
  margin-right: max(2vw, 30px);
}

/* options */
#Options {
  background-color: rgba(123, 100, 100, 0.2);
  width: 100%;
  height: 35%;
}



#MainMenu {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
}

#ActionScreen {
  background-color: rgba(53, 133, 139, 0.73);
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Montserrat';
  src: local ('Montserrat-Black'), url(./fonts/Montserrat/Montserrat-Black.ttf) format ('truetype');
}

/* buttons */


.MainMenuButton {
  height: 20vh;
  margin-top: 1vh;
  margin-left: 1vw;
  width: 25vw;
  background: #FFFFFF;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 172px;
}


#CatRoom:hover{
  background-color: rgba(255, 104, 104, 0.5);
}

#Achievements:hover{
  background-color: rgba(252, 255, 104, 0.5);
}

#Diary:hover{
  background-color: rgba(168, 255, 255, 0.5);;
}
#Help:hover{
  background-color: rgba(203, 175, 249, 0.5);;
}

/* wrappers */

#App {
  display: flex;
  flex-direction: column;
  background-color: rgba(123, 13, 139, 0.2);
  height: 100vh;
  width: 100vw;
}

#AppScreenWrapper {
  display: flex;
  flex-direction: row;
  height: 90%;
  width: 100%;
}


/* html and body */

body,html {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-size: 3vh;
}

button {
  font-family: Montserrat;
  font-size: 3vh;
}


